* {
    margin: 0px;
    padding: 0px;
 }
 body {
    /* background-color: yellow; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.nav-bar {
    display: flex;
    height: 5vw;
    padding: 1em 3em 1em 3em;
    /* background-color: red; */
    justify-content: space-between;
    align-items: center;
}

.nav-bar-left {
    padding-top: 20px;
}

.nav-bar-left img {
    width: 50px;
    border-radius: 50%;
}

.nav-bar-right {
    /* background-color: red; */
    display: flex;
    width: 8em;
    justify-content: space-between;
    /* text-align: right; */
}

.links {
    margin-top: 13em;
    width: 100%;
    display: flex;
    /* background-color: yellow; */
    align-items: center;
    justify-content: center;
}

.links img {
    height: 120px;
    margin-left: 1.5em;
    margin-right: 1.5em;
    /* background-color: yellow; */
}

.links-instagram {
    /* background-color: red; */
    padding: 20px;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
    border: black;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
}

.links-twitter {
    /* background-color: navy; */
    padding: 20px;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
    border: black;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
}

.footer {
    display: flex;
    /* background-color: grey; */
    bottom: 0px;
    position: absolute;
    width: 100%;
    height: 3em;
    font-size: small;
    font-weight: lighter;
    align-items: center;
    justify-content: center;
}